.App {
    height: 100vh;
    position: relative;
}

.card {
    max-width: 696px;
}

.food-background-image {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    opacity: 0.35;
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

.main-alert {
    top: 10px;
    left: 30px;
    right: 30px;
}

input[type=range].extremely-spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 0, 0) ;
}

input[type=range].very-spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 81, 0) ;
}

input[type=range].spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 123, 0) ;
}

input[type=range].medium-spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 153, 0) ;
}

input[type=range].not-so-spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(255, 196, 0) ;
}

input[type=range].not-spicy::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(251, 255, 0) ;
}
